<table>
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Price</th>
		<th>Count</th>
		<th>Total</th>
	</tr>

	<tr ng-repeat="cartItem in cartItems">
		<td>{{$index + 1}}</td>
		<td>{{cartItem.product.name}}</td>
		<td>{{cartItem.product.price}}$</td>
		<td>
			<input class="productCount" min="1" ng-model="cartItem.count"
			            type="number"/>
		</td>
		<td>{{cartItem.count*cartItem.product.price | number:2}}$</td>
	</tr>

	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td>{{cartItems.length}}</td>
		<td>{{total | number:2}}$</td>
	</tr>
</table>
